<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-icons-1.11.3/font/bootstrap-icons.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='mortarboard.png')}}">
</head>
<body data-bs-theme="dark" class="d-flex flex-column min-vh-100">
    {% block body %}
    <div class="container">
        <div class="card rounded-2 shadow text-center mt-3" >

         <div class="form-check form-switch">
            <input
               class="form-check-input"
               type="checkbox"
               id="flexSwitchCheckChecked"
               checked
               onclick="myFunction()"
            />
         </div>

            <marquee behavior="scroll" direction="left"><h1>Welcome to Python WebApp | Let's learn Python together!</h1></marquee>
            <div class="text-center">
                <a href="{{url_for('logout')}}" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col md-12">
                <h1>Student List
                    <button class="btn btn-success float-end mt-2" data-bs-toggle="modal" data-bs-target="#mymodal">Add Student</button>


                    <!-- Flash Messages Section -->
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show d-flex align-items-center p-2" role="alert" style="font-size: 1rem;">
                        <div class="flex-grow-1">
                            {{ message }}
                        </div>
                        <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}




                </h1>
                <table class="table table-striped">
                    <tr>
                        <th>Serial</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        {% for row in student_info %}
                        <td>{{row.0}}</td>
                        <td>{{row.1}}</td>
                        <td>{{row.2}}</td>
                        <td>{{row.3}}</td>
                        <td>
                            <a href="/update/{{row.0}}" class="btn btn-warning " data-bs-toggle="modal" data-bs-target="#editmodal{{row.0}}">
                              <i class="bi bi-pencil-square"></i>
                            </a>
                            <a href="/delete/{{row.0}}" class="btn btn-danger " data-bs-toggle="modal" data-bs-target="#deletemodal">
                              <i class="bi bi-trash"></i>
                            </a>

                            <!-- Modal -->
                            <div
                              class="modal fade"
                              id="deletemodal"
                              tabindex="-1"
                              role="dialog"
                              aria-labelledby="modalTitleId"
                              aria-hidden="true"
                            >
                              <div class="modal-dialog" role="document">
                                 <div class="modal-content">
                                    <div class="modal-header">
                                       <h5 class="modal-title" id="modalTitleId">
                                          Confirm Delete
                                       </h5>
                                       <button
                                          type="button"
                                          class="btn-close"
                                          data-bs-dismiss="modal"
                                          aria-label="Close"
                                       ></button>
                                    </div>
                                    <div class="modal-body">
                                       <div class="container-fluid">Are you sure you want to delete this record?</div>
                                    </div>
                                    <div class="modal-footer">
                                       <button
                                          type="button"
                                          class="btn btn-secondary"
                                          data-bs-dismiss="modal"
                                       >
                                          Close
                                       </button>
                                       <a href="/delete/{{row.0}}" class="btn btn-danger">Delete</a>
                                    </div>
                                 </div>
                              </div>
                            </div>

                            <script>
                              var modalId = document.getElementById('modalId');

                              modalId.addEventListener('show.bs.modal', function (event) {
                                   // Button that triggered the modal
                                   let button = event.relatedTarget;
                                   // Extract info from data-bs-* attributes
                                   let recipient = button.getAttribute('data-bs-whatever');

                                 // Use above variables to manipulate the DOM
                              });
                            </script>

                        </td>
                    </tr>


                    <!-- Edit Student Modal -->
<div id="editmodal{{row.0}}" class="modal fade" tabindex="-1" aria-labelledby="editModalLabel{{row.0}}" aria-hidden="true">
    <div class="modal-dialog">
       <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
             <h5 class="modal-title" id="editModalLabel{{row.0}}">Please Update Data</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- Modal Body -->
          <div class="modal-body">
             <form action="{{url_for('update')}}" method="POST">
                <!-- Hidden ID Field -->
                <input type="hidden" name="id" value="{{row.0}}">

                <!-- Name Field -->
                <div class="mb-3">
                   <label for="name" class="form-label">Name:</label>
                   <input type="text" class="form-control" id="name" name="name" value="{{row.1}}">
                </div>

                <!-- Email Field -->
                <div class="mb-3">
                   <label for="email" class="form-label">Email:</label>
                   <input type="email" class="form-control" id="email" name="email" value="{{row.2}}">
                </div>

                <!-- Phone Field -->
                <div class="mb-3">
                   <label for="phone" class="form-label">Phone:</label>
                   <input type="text" class="form-control" id="phone" name="phone" value="{{row.3}}">
                </div>

                <!-- Update Button -->
                <div class="d-grid gap-2">
                   <button type="submit" class="btn btn-primary">Update Data</button>
                </div>
             </form>
          </div>

          <!-- Modal Footer -->
          <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
       </div>
    </div>
 </div>






                    {% endfor %}

                </table>

            </div>

        </div>




        <!-- Modal -->
<div class="modal fade" id="mymodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Please Insert Data</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <form action="{{url_for('insert')}}" method="POST">
                <div class="mb-3">
                   <label for="name" class="form-label">Name:</label>
                   <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                </div>
                <div class="mb-3">
                   <label for="email" class="form-label">Email:</label>
                   <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                <div class="mb-3">
                   <label for="phone" class="form-label">Phone:</label>
                   <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" required>
                </div>
                <div class="d-grid gap-2">
                   <button type="submit" class="btn btn-primary">Insert Data</button>
                </div>
             </form>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
       </div>
    </div>
 </div>

<!-- Pagination Begin here -->
<nav aria-label="Page navigation" class="float-end">
   <ul class="pagination">
      <!-- Previous Page Link -->
      <li class="page-item {% if page == 1 %}disabled{% endif %}">
         <a class="page-link" href="{{ url_for('home', page=page-1) }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
         </a>
      </li>

      <!-- Page Number Links -->
      {% for p in range(1, total_pages + 1) %}
      <li class="page-item {% if p == page %}active{% endif %}">
         <a class="page-link" href="{{ url_for('home', page=p) }}">{{ p }}</a>
      </li>
      {% endfor %}

      <!-- Next Page Link -->
      <li class="page-item {% if page == total_pages %}disabled{% endif %}">
         <a class="page-link" href="{{ url_for('home', page=page+1) }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
         </a>
      </li>
   </ul>
</nav>





    </div>
    {% endblock %}

 <footer class="bg-dark text-light text-center py-2 mt-auto">
   <div class="container">
      <h5>Copyright @Python_WebApp.com</h5>

   </div>

 </footer>

</body>


<script>
   function myFunction() {
     var element = document.body;
     element.dataset.bsTheme =
       element.dataset.bsTheme == "light" ? "dark" : "light";
   }
   function stepFunction(event) {
     debugger;
     var element = document.getElementsByClassName("collapse");
     for (var i = 0; i < element.length; i++) {
       if (element[i] !== event.target.ariaControls) {
         element[i].classList.remove("show");
       }
     }
   }
 </script>


<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</html>